* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body {
    overflow-x: hidden;
    background: rgb(193, 215, 165);
    height: 100%;
}

#countbox{
    display:flex;
    align-items: center;
    height: 50%;
}

#count{
    text-align: left;
    font-size: 40pt;
    display:block;
}

#countdownInput{
    text-align: center;
    width:130px;
    height:45px;
    font-size: 30pt;
    display: block;
}

#buttonbox1{
    display: none;
    margin-top: 10px;
    height:50%;
}

#b{
    align-items: center;
}

#buttonbox2{
    display: flex;
    align-items: center;
    height:50%;

}


.button {
    width: 180px;
    height: 60px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 30pt;
    margin: 10px 10px 10px 10px;

}

.button:hover {
    background-color: lightblue;

}

.button2 {
    width: 218px;
    height: 35px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16pt;
    margin-top: 5px;
    margin-bottom: 5px;
}

.button2:hover {
    background-color: lightblue;

}

.button3 {
    width: 220px;
    height: 60px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 26pt;
    margin:5px 5px 10px 10px;
    
    background-color: rgb(54, 54, 54);
    color:rgb(219, 219, 219);
}

.button3:hover {
    background-color: rgb(47, 76, 86);

}

.button4 {
    width: 460px;
    height: 60px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 26pt;
    margin:5px 5px 10px 10px;
    background-color: rgb(54, 54, 54);
    color:rgb(219, 219, 219);
}

.button4:hover {
    background-color: rgb(47, 76, 86);

}

.button2.a_red_5 {
    background-color: lightblue;

}

#countdown {
    width: 460px;
    height: 120px;
    font-size: 90pt;
    color: rgb(157, 191, 245);
    text-align: center;
    line-height: 110px;
    margin-top: 5px;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top:-5px;
    border-radius: 10px ;
    border: solid;
}


.container {
    height:100%;
    display:flex;
    align-items:center;
    flex-direction: column; /* 將子元素垂直排列 */
    max-width: 100%;
  }


nav {
    height: 15%;
    padding-top: 15px;
    width: 100%;
    background-color: rgb(81, 101, 49);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0%;
    z-index: 999;
}

ul {
    display: flex;
    margin-left: 100px;
}

li {
    list-style: none;
    width: auto;
    text-align: center;
    padding: 0 30px;
    
}

#pageBT1{
    color:white;
    background-color: rgba(0, 0, 0, 0);
    border-style: hidden;
    font-size: 22pt;
}

#pageBT2{
    color:white;
    background-color: rgba(0,0,0,0);
    border-style: hidden;
    font-size: 22pt;
}

#POWERLIFTING{
    padding: 8px;
    background-color: rgba(15, 255, 43, 0.217);
    border-radius: 5px;
}

#PARA{
    padding: 8px;

    border-radius: 5px;
}

li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

span {
    text-align: center;
}

main {
    height: 100%;
    display: flex;
    
}

.row{
    width: 100%;
    font-weight: bold;
    height: 25%;
}
#space{
    height: 15%;
}

#space2{
    display: none;
    height: 15%;
}

.text {
    width: 50%;
    background: rgb(193, 215, 165);
    display: flex;
    justify-content: right;
    padding-right: 30px;
    margin-bottom: -50px;
    margin-top: 30px;
    align-items: center;
}

#kg{
    width: 150px;
    height:50pt;
    margin-top: -140px;
    margin-right: 3px;
    margin-bottom: 10pt;
    font-size: 32pt;
    text-align: center;
}

.text p {
    margin-top: -140px;
    margin-right: 5px;
    font-size: 45pt;
    font-weight: 600;
}

.timer {
    align-items:center;
    justify-content: center;
    height: 100%;
    width: 50%;
    background: rgb(193, 215, 165);
    z-index: 0;
    margin-top: 10px;
}

#box{
    display: none;
}

#inputForm{
    height: 45%;
    width:100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic {
    width: 300px;
    height:300px;

    text-align: center;
}



.pipe {
    width: 180px;
    height: 45px;
    background-color: rgb(164, 161, 161);
    margin: 127.5px 0;
    border: solid black 3px;
    border-right: none;

}

.pipe::before{
    content: "20" ;
}

input {
    width: 200px;
    border-radius: 10px;
    padding: 2px 2px 2px 5px;
}

#a {
    display: flex;
    position: absolute;
    height: 45%;
    left: -30px;
    line-height: 40px;
    font-size: 24pt;
    margin-left: 35%;
}

#a li{
    padding: 0;
}



.a_red_50{
    width: 45px;
    height: 300px;
    background-color: rgb(165, 4, 4);
    content: "25";
    padding: 0;
    border: solid black 3px;
}

.a_red_50::before{
    content: "25";
    line-height: 300px;
    color:white;
}

.a_blue_40{
    width: 45px;
    height: 300px;
    background-color: rgb(4, 84, 165);
    content: "20";
    border: solid black 3px;
}

.a_blue_40::before{
    content: "20";
    line-height: 300px;
    color:white;
}

.a_yell_30{
    width: 45px;
    height: 300px;
    background-color: rgb(189, 221, 5);
    content: "15";
    padding: 0; 
    border: solid black 3px;
}

.a_yell_30::before{
    content: "15";
    line-height: 300px;
}

.a_gree_20{
    width: 45px;
    height: 300px;
    background-color: rgb(55, 165, 4);
    content: "10";
    border: solid black 3px;
}

.a_gree_20::before{
    content: "10";
    line-height: 300px;
}

.a_white_10{
    width: 37px;
    height: 225px;
    background-color: rgb(252, 252, 252);
    margin-top: 37.5px ;
    content: "5";
    border: solid black 3px;
}

.a_white_10::before{
    content: "5";
    line-height: 225px;
    font-size: 24pt;
}

.a_black_5{
    width: 37px;
    height: 150px;
    background-color: rgb(41, 41, 41);
    content: "2.5";
    margin-top: 75px ;
    border: solid black 3px;
}

.a_black_5::before{
    content: "2.5";
    line-height: 150px;
    color:white;
    font-size: 18pt;
}

.a_sli_205{
    width: 37px;
    height: 120px;
    background-color: rgb(134, 134, 134);
    content: "1.25";
    margin-top: 90px ;
    border: solid black 3px;
}

.a_sli_205::before{
    content: "1.25";
    line-height: 120px;
    font-size: 12pt;
}

.a_sli_010{
    width: 37px;
    height: 105px;
    background-color: rgb(134, 134, 134);
    content: "0.5";
    margin-top: 97.5px ;
    border: solid black 3px;
}

.a_sli_010::before{
    content: "0.5";
    line-height: 105px;
    font-size: 18pt;
}

.a_sli_050{
    width: 37px;
    height: 105px;
    background-color: rgb(134, 134, 134);
    content: "0.25";
    margin-top: 97.5px ;
    border: solid black 3px;

}

.a_sli_050::before{
    content: "0.25";
    line-height: 105px;
    font-size: 12pt;
}





.a_red_5{
    width: 37px;
    height: 150px;
    background-color: rgb(165, 4, 4);
    content: "2.5";
    margin-top: 75px ;
    border: solid black 3px;
}

.a_red_5::before{
    content: "2.5";
    line-height: 150px;
    font-size: 15pt;
    color:white;
}

.a_blue_4{
    width: 37px;
    height: 120px;
    background-color: rgb(3, 56, 230);
    content: "2";
    margin-top: 90px ;
    border: solid black 3px;
}

.a_blue_4::before{
    content: "2";
    line-height: 120px;
    color:white;
}

.a_yell_3{
    width: 37px;
    height: 120px;
    background-color: rgb(230, 219, 3);
    content: "1.5";
    margin-top: 90px ;
    border: solid black 3px;
}

.a_yell_3::before{
    content: "1.5";
    line-height: 120px;
    font-size: 15pt;
}

.a_gree_2{
    width: 37px;
    height: 105px;
    background-color: rgb(40, 225, 3);
    content: "1";
    margin-top: 97.5px ;
    border: solid black 3px;
}

.a_gree_2::before{
    content: "1";
    line-height: 105px;
    font-size: 22pt;
}

.a_white_1{
    width: 37px;
    height: 105px;
    background-color: rgb(227, 227, 227);
    content: "0.5";
    margin-top: 97.5px ;
    border: solid black 3px;
}

.a_white_1::before{
    content: "0.5";
    line-height: 105px;
    font-size: 15pt;
}

.a_sli_05{
    width: 37px;
    height: 105px;
    background-color: rgb(178, 178, 178);
    content: "0.25";
    margin-top: 97.5px ;
    border: solid black 3px;
}

.a_sli_05::before{
    content: "0.25";
    line-height: 105px;
    font-size: 12pt;
}




.lock{
    width: 40px;
    height: 100px;
    padding: 0;
    margin: 100px 0;
}

.lockpic{
    width: 40px;
    height: 100px;
    padding: 0;
}


.pppipe{
    width: 20px;
    height: 45px;
    background-color: rgb(164, 161, 161);
    margin: 127.5px 0;
    border: solid black 3px;
    border-left: none;
    line-height: 20px;
    border-radius: 0 5px 5px 0;
}


#s1{

    display: none;
    font-size: 70pt;
    font-weight:bold;
    color: rgb(255, 255, 255);
    margin-top: -20px;
    text-align: right;
}

#s2{

    display: none;
    font-size: 50pt;
    font-weight:bold;
    color: rgb(255, 255, 255);

    text-align: right;
}

#s3{
    display: none;
    font-size: 45pt;
    font-weight:bold;
    color: rgb(255, 255, 255);
    text-align: right;
}